.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.1vmax;
    background-color: white;
    
    
}
.navlinks{
    color: rgb(65, 63, 63);
    text-decoration: none;
    margin: 0.5vmax 2vmax;
    font-weight: 400;
    font-size: 1vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navlinks:hover{
    color: orangered;
}
.logo{
    background-color: orangered;
    width: 3.6%;
    border-radius: 35%;
    overflow: hidden;
    cursor: pointer;
    /* right: 0.5vmax; */
    
    transform: scale(0.9);
    
}
#logoImage{
    transform: translateX(-58px);
}
#logoImage:hover{
    transform: translateX(0);
}
.searchbar{
    position: relative;
    left: 5vmax;
    
}
.searchbar > input{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    font-size: 1vmax;
    width: 16vmax;
}